/*Estilos generales-----------------------*/
.col{
    padding:0px !important;
}
html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

/*----------------------------------------*/
/*Estilos de la cabecera------------------*/
header .row{
    margin-bottom: 0px !important;
}

#Cabecera{
    height:170px;
    padding-bottom: 0px !important;
}
#Titulo{
    margin:0px;
    background-color: #1F4373;
    height: 100%;
    
}
#Titulo img{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

#Menu{
    display: block;
    text-align: center;
    height: 100%;
    padding-bottom:10px;
    background-color: #1F4373;
    color:#F2EAE4;
    font-size: 30px;
}
#Menu #Espacio
{
    display: block;
    height: 60px;
}

#Menu ul{
    height: 100%;
    margin:0px;
    overflow: hidden;
    line-height: 55px;
    
    padding-left:26%;
}
#Menu ul li{
    display: inline-block;
    height: 100%;
    margin-right: 30px;
    margin-left:30px;
}

#Menu ul li a{
    height: 100%;
    padding: 30px 30px;
    color:#F2EAE4;
    transition: all 0.2s;
}

#Menu ul li a:hover{
   color: #37BAA4;
}

@media(max-width:400px)
{
    #Titulo{
        height: 260px;
    }
    #Menu #Espacio{
        height: 10px;
    }
    #Menu{
        height: 250px;
    }
    #Menu ul{
        padding-left: 2%;
    }
    #Menu ul li{
        display: block;
        height: 33%;
    }

    #Menu ul li a{
        display:block;
        height: 100%;
        color:#F2EAE4;
        width: 100%;
        padding:0px
    }
    

    #Titulo #ContContacto #contacto {
        text-align: center;
    }

    .post{
        padding: 15px;
        text-align: justify;
    }
    
    .Servicio{
        display: block;
        text-align: center;
        font-size: 26px;
        height: inherit !important;
    }
    
    .ImgServicios{
        display: block ;
        margin: 0 auto;
        width:700px !important;
        height: 50% !important;
    }

    #post3 h1{
        font-size: 48px;
        text-align: center;
    }
    #post3 h4{
        font-size: 24px;
        text-align: center;
    }
    #post3 img{
        margin-top: 30px !important;
        width: 70%;
        margin:0 auto;
    }
    
}
/*----------------------------------------*/
/*Efectos del contenido-------------------*/
.post{
    padding: 15px;
}

.post .row {
    padding:10px;
}
.post .row .texto{
    padding-right: 10px !important;
}
.post img{
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 10%;
}
.post p{
    font-size: 22px;
    line-height: 30px;
}
#post1{
    background-color: #FAF9F0;
    color: black;
}
#post1 h1{
    float: right;
}
#post1 img{
    margin-top: 10px !important;
}
#post2{
    background: url("../img/post2.jfif");
    background-size: cover;
    background-attachment: fixed;
    color:#F2EAE4;
    text-align: center;
}

.Servicio{
    text-align: center;
    font-size: 26px;
    height: 200px;
}

.ImgServicios{
    display: block ;
    margin: 0 auto;
    width:100px !important;
    height: 50% !important;
}
#post3{
    background:#FAF9F0;
    color:black;
}
#post3 img{
    margin-top: -10px;
    width: 70%;
}
#post3 .row{
    padding-top: 50px;
    margin-bottom: 5%;
}
#post3 h1{
    color:#37BAA4;
}

/*----------------------------------------*/
/*Estilos del footer----------------------*/
Footer{
    display: block;
    font-size: 22px;
}
#Footer{
    display: block;
    margin-bottom: 0px !important;
    background: black;
    color:#F2EAE4;
    padding:10px !important; 
}

#Footer #IrInicio a{
    color:#37BAA4;
    float:right;
    padding-right: 10px;
}
/*----------------------------------------*/